<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
  printerFile="vendor/whatthejeff/nyancat-phpunit-resultprinter/src/NyanCat/PHPUnit/ResultPrinter.php" 
  printerClass="NyanCat\PHPUnit\ResultPrinter"
>
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>